<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8"/>
	<title> Form Reg</title>
</head>
<body>
	<h1>Confirmation Registration</h1>
	<p th:text="'ID: '+ ${data.id}"/>
	<p th:text="'NAMA: '+ ${data.nama}"/>
	<p th:text="'ALAMAT: '+ ${data.alamat}"/>
	<p th:text="'JK: '+ ${data.jk}"/>
	<p th:text="'TELPON: '+ ${data.telp}"/>
</body>
</html>