<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
 	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
 	<title>Employee</title>
 </head>
 <body>
 <div class="container">
 	<div class="card">
 		<div class="card-header">
 			<h1 class="card-title float-left">Employee List</h1>
 			<a id="btn-add" href="#" class="btn btn-primary btn-lg float-right">Employee &nbsp<i class="fas fa-plus"></i></a>
 		</div>
 		<div class="card-body">
 			
 			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Address</th>
						<th>Email</th>
						<th>Place of Birth</th>
						<th>Date of Birth</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="emp : ${listData}">
						<td><span th:text="${emp.id}"></span></td>
						<td><span th:text="${emp.firstName}"></span></td>
						<td><span th:text="${emp.lastName}"></span></td>
						<td><span th:text="${emp.email}"></span></td>
						<td><span th:text="${emp.birthPlace}"></span></td>
						<td><span th:text="${emp.birthDate}"></span></td>
						<td class="text-right">
							<a th:href="@{/employee/edit/{id}(id=${emp.id})}" class="btn-edit btn btn-warning btn-sm">Edit <i class="fas fa-edit"></i></a>
							<a th:href="@{/employee/delete/{id}(id=${emp.id})}" class="btn btn-danger btn-sm">Hapus <i class="fas fa-trash-alt"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
 		</div>
 	</div>  	
</div>	

<!-- Mulai Modal -->
<div id="modal-form" class="modal" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>
<!-- Modal Selesai -->

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" ></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type="text/javascript">
    	
   		$("#btn-add").click(function() {
       		// alert("testistustos");
       		$.ajax({
       			url:'/employee/add',
       			type:'get',
       			dataType:'html',
       			success:function(hasil){
       				$("#modal-form").find(".modal-content").html(hasil);
       				$("#modal-form").modal("show");		
       			}
       		});
       	});	
   	
    	$(".btn-edit").click(function() {
    		var abc = $(this).attr("href");
    		$.ajax({
       			url:abc,
       			type:'get',
       			dataType:'html',
       			success:function(hasil){
       				$("#modal-form").find(".modal-content").html(hasil);
       				$("#modal-form").modal("show");		
       			}
       		});
    		return false;
    	});
    	
    </script>
    
 </body>
 </html>