<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Employee Save</title>
	</head>
	<body>
		<h1>Employee Save Page</h1>
		<p th:text="'ID: ' + ${listdata.id}" />
		<p th:text="'Nama Awal: ' + ${listdata.first_name}" />
		<p th:text="'Nama Akhir: ' + ${listdata.last_name}" />
		<p th:text="'Alamat: ' + ${listdata.address}" />
		<p th:text="'Email: ' + ${listdata.email}" />
		<p th:text="'Tempat Lahir: ' + ${listdata.place_of_birth}" />
		<p th:text="'Tanggal Lahir: ' + ${listdata.date_of_birth}" />
	</body>
</html>