<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8"/>
	<title> Form Reg</title>
</head>
<body>
	<h1>Confirmation Registration</h1>
	<p th:text="'KTP: '+ ${data.ktp}"/>
	<p th:text="'NAMA: '+ ${data.nama}"/>
	<p th:text="'Merek Motor: '+ ${data.merek}"/>
	<p th:text="'Model Motor: '+ ${data.model}"/>
	<p th:text="'No. Polisi: '+ ${data.noPol}"/>
	<p th:text="'Warna: '+ ${data.warna}"/>
	<p th:text="'Mesin: '+ ${data.mesin} +'cc'"/>
</body>
</html>