<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>
<!--<h2>tes</h2>-->
<table>
<tbody>
<tr  th:each="item : ${listdata1}">
	<td><span th:text="${item.id}"></span></td>
	<td><span th:text="${item.kode}"></span></td>
	<td><span th:text="${item.nama}"></span></td>
	<td><button class="btn btn-warning btn-sm" value="${item.id}"><i class="fas fa-align-justify"></i> Edit</button> 
	<button class="btn btn-danger btn-sm" value="${item.id}"><i class="fas fa-trash-alt"></i> Hapus</button>
	</td>
</tr>
</tbody>
</table>
</body>
</html>