<div class="card">
	<div class= "card-header">
		<h1>Form Fakultas</h1>
	</div>
	
	<form id="form-iput">
		<div class="card-body">
			<div class="form-group row">
				<label class="col-form-label col-md-2">ID</label>
				<input class="form-control col-md" type="text" name="id"/>
			</div>
			
			<div class="form-group row">
				<label class="col-form-label col-md-2">Kode Fakultas</label>
				<input class="form-control col-md" type="text" name="kode"/>
			</div>
			
			<div class="form-group row">
				<label class="col-form-label col-md-2">Nama Fakultas</label>
				<input class="form-control col-md" type="text" name="nama"/>
			</div>
			
			
		</div>
	</form>
</div>