<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<title>Biodata Index</title>
</head>
<body>
<div class="container">
	<h1>Biodata List</h1>
	<p><a href="add" class="btn btn-primary">Menambah Biodata</a></p>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nama</th>
				<th>Alamat</th>
				<th>JK</th>
				<th>Telp</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bd : ${listData}">
				<td><span th:text="${bd.id}"></span></td>
				<td><span th:text="${bd.nama}"></span></td>
				<td><span th:text="${bd.alamat}"></span></td>
				<td><span th:text="${bd.jk}"></span></td>
				<td><span th:text="${bd.telp}"></span></td>
				<td><a th:href="@{edit/{id}(id=${bd.id})}" class="btn btn-warning">Edit<i class="fas fa-edit"></i></a> | <a th:href="@{delete/{id}(id=${bd.id})}"class="btn btn-danger">Hapus<i class="fas fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>