<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Employee Index</title>
</head>
<body>
	<h1>Employee List</h1>
	<p><a href="add">Menambah Employee Data</a></p>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nama Awal</th>
				<th>Nama Akhir</th>
				<th>Alamat</th>
				<th>email</th>
				<th>Tempat Lahir</th>
				<th>Tanggal Lahir</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bd : ${listData}">
				<td><span th:text="${bd.id}"></span></td>
				<td><span th:text="${bd.first_name}"></span></td>
				<td><span th:text="${bd.last_name}"></span></td>
				<td><span th:text="${bd.address}"></span></td>
				<td><span th:text="${bd.email}"></span></td>
				<td><span th:text="${bd.place_of_birth}"></span></td>
				<td><span th:text="${bd.date_of_birth}"></span></td>
				<td><a href="@{edit/{id}(id=${bd.id})}">Edit</a> | <a href="#">Hapus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>