<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8"/>
	<title> Form Reg</title>
</head>
<body>
	<h1>Confirmation Registration</h1>
	<p th:text="'Nama Pemesan: '+ ${data.nama}"/>
	<p th:text="'Movie: '+ ${data.film}"/>
	<p th:text="'Tix Total: '+ ${data.jmlTix}"/>

</body>
</html>